<div id="formaddhostgroup">
	<h3> Create new Hostgroup: </h3>
	<div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">  </div>
   <form id="createHG">
      <p>
      	<label> Name (3-30 chars) : </label> 
      	<input type="text" name="NameHG" id="NameHG"/>
      </p>
      <br><br>
 		<p>
			<label for="level"> Access level : (1 = God, 255 = Nothing) </label>
			<input type="text" id="levelHG" style="border:0; color:#f6931f; font-weight:bold;" />
		</p>
		<br><br>
		<div id="slider-level"></div>
   </form>
   
   <p>
     	<button id="buttonAddGroup"> Create group </button>
   </p>
</div>