<div id="aboutOnOff">

	<h1> The On/Off application : </h1>
	
	<p> This application runs on a server and allows users to turn on or turn off their computers on internet. These computers must be in the server's local network. It is especially designed for companies whose employees need to use their computers remotely, to works at home or during business trips. With On/Off, they do not have to ask a colleague to power on their computers, or let them turned on. It saves money, time, and it is environment-friendly ! </p> 
	
	<p> Users can turn on their owns computers, but also colleague's ones ! In fact, users can be put in groups -called "farms"- with computers -called "hosts"- with some rights on them. Very usefull when you are working with some colleagues on the same project, or with the same computer ! </p> 

	<p> These farms, hosts, and the application's users are managed by an administrator who can register them, change their properties and add relationship between them. </p> 

</div>