<div id="generalWrapper">
<div id="viewMailContent"> 
	<div class="header_bg"><h1> Emails content:</h1></div>
	
	<div id="mail_main_area">
		      <div id="mail_label_area">
			<label>Action: </label>
			<label>Language: </label>
		      </div>

		      <div id="mail_select_area">
			<select id="action">
				<option value="null">  </option>
				{{each actions}}
					<option value="${id}"> ${name} </option>
				{{/each}}	
			</select>
			<select id="lang">
				{{each lang}}
					<option value="${name}"> ${name} </option>
				{{/each}}	
			</select>
		      </div>
	      <div class="separator"></div>
	      <div id="mail_buttons_area">
		<button id="viewEmailContent"> View </button>
	      </div>
	</div>
	<div id="dataForms"> 
  		  	<label> Sent by : </label>
	   	<input type="text" id="sender" name="sender" value=""/>
  	  		<label> Subject : </label>
  	 		<input type="text" id="subject" name="subject" value=""/>

    		<label> Text : </label>
   		<textarea id="textMail" cols="50" rows="10"> </textarea>

    		<label> Tokens : <b id="listofTokens"></b> </label>
	 		<div id="active">
				<input type="radio" id="activeMail" name="radio1" checked="checked"/><label for="activeMail"> Send mail for this action </label>
				<input type="radio" id="dontactiveMail" name="radio1"/><label for="dontactiveMail"> Do not send anything </label>
			</div>
		<button id="saveEmailContent"> Save </button>
	</div>
</div>
</div>