<div class="ui-state-error"></div>
<div id="formaddhost">
	<h3> Add new host : </h3>
	  <form>
			<p>
				<label> Name (3-40 chars) : </label>
      		<input type="text" id="hostname" name="hostname"/>
      	</p>
      	<p> 
      		<label> MAC address (XX:XX:XX:XX:XX:XX) : </label>
      		<input type="text" id="mac" name="mac"/>
      	</p>
      	<p>
      		<label> IP address : </label>
      		<input type="text" id="ip" name="ip"/>
      	</p>
      	<p>
      		<label> Owner of the host : </label>
      		<select id=user name="user"> 
      		{{each users}}
      			<option value="${id}"> ${login} </option>
      		{{/each}}
      		</select>
      	</p>
      	<p>
      		<input type="submit" name="submit" class="buttonAddHost" value="Add host"/>
      	</p>
   	</form>
</div>