<div id="setupWol">

	<h1> Set up your computer for Wake on LAN </h1>

	<h2> Enable Wake on LAN on your BIOS : </h2>
		<p> Generally, it is not enabled by default. The option's name varies, and sometimes you will have to activate or desactivate some other options. </p> 

	<h2> Find your ethernet card name and MAC address : </h2>
		<p> You can for example use the command ifconfig. You will get something like this :
			<ul> 
				<li> eth0	Link encap:Ethernet  HWaddr 0a:1b:2c:de:f1:23 </li> 
				<li> inet addr:10.10.0.145  Bcast:10.10.0.255  Mask:255.255.255.0 </li> 
				<li> UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1 </li> 
				<li> RX packets:47825 errors:0 dropped:0 overruns:0 frame:0 </li> 
				<li> TX packets:25892 errors:0 dropped:0 overruns:0 carrier:0 </li> 
				<li> collisions:0 txqueuelen:1000 </li> 
				<li> RX bytes:36841607 (36.8 MiB)  TX bytes:3821755 (3.8 MiB) </li> 
				<li> Interrupt:43 Base address:0x6000 </li> 
			</ul>
		</p>

		<p> eth0 is the name of the ethernet card. </p>
		<p> Mac address has format XX:XX:XX:XX:XX:XX, and is generally on first line. </p>
		<p> IP address (inet addr) is 10.10.0.145. </p>

	<h2> Run a magic command to enable Wake on LAN on your ethernet card : </h2>
		<p> The magic command is :
			<ul> 
				<li> ethtool -s INTERFACE wol g </li>
			</ul>
		where INTERFACE is the name of your ethernet card (here, eth0) </p>

		<p> You will need to run this command every time you will need to start your computer with wake on LAN. </p>
		
		<p> So, you should make a script, and make it run on start :
			<ul> 
				<li> #!/bin/bash </li>
				<li> ethtool -s eth0 wol g </li>
			</ul>
			and put this file on /etc/init.d/
			then go to this dir :
			<ul> 
				<li> cd /etc/init.d </li>
			</ul>
			and set execution permission : 
			<ul> 
				<li> chmod a+x FILENAME </li>
			</ul>	
			(where FILENAME is the script's name)
			add the script to the list of programs run on startup :
			<ul> 
				<li> update-rc.d -f FILENAME defaults </li>
			</ul>					 
			(where FILENAME is also the script's name) </p>
	
	<h2> Your system is ready for wake on LAN ! </h2>
		<p> You can now shutdown your computer, if you send a magic packet to its mac address, it will probably wake on. </p>

</div>
