

<h1> Host ${hostname}</h1>
<div id="host${hostid}">
	<table>
	{{each weeks}}
		<TR>
			<TH> Week </TH>
			<TH> ${MonDate} </TH>
			{{if TueDate}}<TH> ${TueDate} </TH>{{/if}}
			{{if WedDate}}<TH> ${WedDate} </TH>{{/if}}
			{{if ThuDate}}<TH> ${ThuDate} </TH>{{/if}}
			{{if FriDate}}<TH> ${FriDate} </TH>{{/if}}
			{{if SatDate}}<TH> ${SatDate} </TH>{{/if}}
			{{if SunDate}}<TH> ${SunDate} </TH>{{/if}}
		</TR>
		<TR id="${numberOfWeek}">
			<TD> ${numberOfWeek} </TD>
			<TD> ${MonH}h${MonM} </TD>
			{{if TueDate}}<TD> ${TueH}h${TueM} </TD>{{/if}}
			{{if WedDate}}<TD> ${WedH}h${WedM} </TD>{{/if}}
			{{if ThuDate}}<TD> ${ThuH}h${ThuM} </TD>{{/if}}
			{{if FriDate}}<TD> ${FriH}h${FriM} </TD>{{/if}}
			{{if SatDate}}<TD> ${SatH}h${SatM} </TD>{{/if}}
			{{if SunDate}}<TD> ${SunH}h${SunM} </TD>{{/if}}
 		</TR>
 		<TR><td></td></TR>
	{{/each}}
	</table>
	<br>

</div>