<div id="generalWrapper">

	<h1 class="header_bg"> Statistics </h1>

	<div id="chooseStatsType">
		<input type="radio" id="customHostStats" name="radio1" checked="checked"/><label for="customHostStats"> By Host </label>
		<input type="radio" id="allHostsStats" name="radio1"/><label for="allHostsStats"> By Date </label>
	</div>

	<div id="ifCustomHost">
	
			<select id="allHosts">
				{{each hosts}}
				<option value="${idH}">${nameH}</option>
				{{/each}}
			</select>
<!--  -->
	</div>
	<div id="ifAllHosts">
		Date : <input type="text" id="dateHostsStats" readonly>
	</div>
	
	<div id="viewArea">
	    <button id="viewStats"> View Statistics </button>
	</div>
	<div id="statsDiv"></div>
</div>