html{
   margin: 0;
   padding: 0;
   height:100%;
}

/*676767 gris
 DCDCDC claro
 */

body{ 
   font: 80% "Trebuchet MS", sans-serif;
   margin: 2px;
   padding: 0;
   height:100%;
   background-color: #DCDCDC;
   padding-bottom: 50px;
}

p{
	clear: both;
	width: 100%;
}

#allPage {
   position: relative;
   min-height:100%;
   height: auto;
}

/* Structure */

header {
	z-index: 10;
	position: fixed;
	width:100%;
	top:0;
	background-color: inherited;
	min-height: 40px;
}

footer {
	z-index: 10;
	position: fixed;
	width:100%;
	bottom:0;
	background-color: #CCCCCC;
}

#messages {
	padding-top: 50px;
}

#content {
	position: relative;
	margin: auto;
	min-height: 500px;
	height: auto;
	width: 1000px;
	left: 15px;
}

/* Header */
			
#logo { 
	float:left; 
	width: 50px;
	position: absolute;
	left: 10px; 
	top: 3px;
}
			
#disconnect { 
	float:right; 
	width: 50px;
	margin-right: 10px;
}

#welcome { 
	position:absolute;
	font: 140% "Trebuchet MS", sans-serif;
	color: black;
	float: right;
	right: 65px;
	top: 10px;
}
			

/* User page */

#userHostsCol, #userFarmsCol{
	font: "Trebuchet MS", sans-serif;
}


#userHostsCol, #userFarmsCol h2{
	font-size: 14px;
}

#userHostsCol, #userFarmsCol p{

}
			
#userHostsCol {
	left: 2%;
	width: 65%; 
	float: left;
	position: relative;

} 

#userFarmsCol {
	left: 4%;
	width: 30%; 
	float: left;
	position: relative;
}


/* Tables style (for admin and user pages) */

table {
	position: relative;
	width: 100%;
	text-decoration: none !important;
	font-size: 10px;
	background-color: #DCDCDC;
}

th {
	border: none;
	font-family: monospace;
	color: #8CC63E !important;
	padding: 10px;
	text-align: center;
}

tr {
	border-collapse: collapse;
	font-family: sans-serif;		
	border: thin solid #676767;
	padding: 5px;
	text-align: center;
	
background: -moz-linear-gradient(#fbfbfb, #e5e5e5);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fbfbfb),color-stop(1, #e5e5e5));
    background: -webkit-linear-gradient(#fbfbfb, #e5e5e5);
    background: -o-linear-gradient(#fbfbfb, #e5e5e5);
    background: -ms-linear-gradient(#fbfbfb, #e5e5e5);
    background: linear-gradient(#fbfbfb, #e5e5e5);
    -moz-border-radius: 50px;
    border-radius: 10px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
}

td {
	border-collapse: collapse;
	font-family: sans-serif;
	border: thin solid #676767;
	padding: 5px;
	text-align: center;
	    background: -moz-linear-gradient(#fbfbfb, #e5e5e5);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fbfbfb),color-stop(1, #e5e5e5));
    background: -webkit-linear-gradient(#fbfbfb, #e5e5e5);
    background: -o-linear-gradient(#fbfbfb, #e5e5e5);
    background: -ms-linear-gradient(#fbfbfb, #e5e5e5);
    background: linear-gradient(#fbfbfb, #e5e5e5);
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
}


/* Forms */

label {
	float: left;
	text-align: right;
}

input {
	float: right;
	text-align: left;
background-color: #F9F7ED !important;
border: 1px solid silver;
}

input[type="text"]:focus, input[type="password"]:focus{
background-color: #3F4C6B !important;
color: silver !important;
}

option {
	color: #FFDD88;
	background-color: #000000;
	text-align: right;
}

select {
	color : #000000;
	background-color: #FFDD88;
	float: right;
	text-align: right;
}



/* Buttons */	
			
#recoButton {
	width: 100%;
	position: absolute;
	top: 40%;
	text-align: center;	
}
			
button, a { 
	text-align: center; 
}

/*It modifies the theme of JQuery-UI.*/
button, input[type=submit]{ 
	font-size: 10px !important;
	color: #36393D !important;
	border: 1px solid silver !important;
	background-color: #F9F7ED !important;
	background-image: none !important;
}

.buttonHostnameForUser {
	font: 70% "Trebuchet MS", sans-serif; 	
}

							


/* Style for JQuery UI elements */

fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px; 
}

.ui-dialog .ui-state-error { 
	padding: .3em; 
}

.ui-state-error{

	display: none !important;
}
.validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
}


/* Groups and Farms Management : */

/* User groups : */
#users{
  	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	float: left;
	width: 21% !important;
	overflow-y: scroll;
	height: 500px;
	border: 1px solid silver !important;
	left: 2px;
	background-color: #eeeeee !important;
}
#not-in-group > #users{
    	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	float: left;
	width: 99% !important;
	min-height: 100% !important;
	height: auto !important;
	border: none !important;
	background-color: #eeeeee !important;
}
#usersinGroup, #hostsinGroup{
	left: 6%;
	padding: 0;
	list-style-type: none;
	float: left;
	height: 100%;
	width: 98%;
	position: relative;
} * html #users { height: 18em; } /* IE6 */


#users.custom-state-active { 
	background: #E80;
}

#users li { 
	width: 130px;
	float: left; 
	padding: 0.4em; 
	margin: 0 0.4em 0.4em 0; 
	text-align: center; 
	height: 50px; 
}
	
#users li h5 { 
	margin: 0 0 0.4em; 
	cursor: move; 
}

#users li a { 
	float: left; 
}

#users li img { 
	width: 100%; 
	cursor: move; 
}
	
#users li label { 
	width: 100%; 
	cursor: move; 
}

#users li label {
	font: 80% "Trebuchet MS", sans-serif; 
}
		
#users .inGroup { 
	width: 200%; 
}

/* Host Groups : */

#hosts { 
	float: left; 
	width: 21% !important; 
	min-height: 500px;
	overflow-y: scroll;
	max-height: 500px;
	height:100%;
	position: relative;
	border: 1px solid silver;
	background-color: #eeeeee !important;
} * html #hosts { height: 18em; } /* IE6 */

#hosts.custom-state-active { 
	background: #E80; 
}

#hosts li { 
	float: left; 
	width: 128px; 
	padding: 0.4em; 
	margin: 0 0.4em 0.4em 0; 
	text-align: center; 
	height: 50px; 
}
	
#hosts li h5 { 
	margin: 0 0 0.4em; 
	cursor: move; 
}

#hosts li a { 
	float: left; 
}

#hosts li img { 
	width: 100%; 
	cursor: move; 
}
	
#hosts li label { 
	width: 100%; 
	cursor: move; 
}

#hosts li label { 
	font: 80% "Trebuchet MS", sans-serif; 
}
		
#hosts .inGroup { 
	width: 200%; 
}

/* User & Host Groups : */

#search_zone{
position: relative;
width: 80%;
float: left;
height: 30px;
}

#search_box{
	position: relative;
	width: 30%;
	float: left;

}

#search_users, #searchHosts{
width: 100%;
position: relative;
height: auto;
float: left;
}

#button_search{
left: 1%;
width: 5%;
height: 100%;
position: relative;
float: left;
}

.userGroup{
width: 90%;
height: auto;
position:relative;
}

#group, #not-in-group{
	position: relative;
	padding-top: 1px;
	top: 1%;
	width: 60%; 
	height: auto;
	padding: 1%;
	border: 1px solid black;
	height:auto;
	float: left;
	background-color: #eeeeee;
} * html #group { height: 18em; } /* IE6 */

#group{
left: 1%;

}

#group h4 { 
	line-height: 16px; 
	margin: 0 0 0.4em; 
}

#not-in-group h4{
	line-height: 16px; 
	margin: 0 0 0.4em; 
}

#group li h5 { 
	margin: 0 0 0.4em; 
	cursor: move; 
}
	
#group li { 
	float: left; 
	width: 128px; 
	padding: 0.4em; 
	margin: 0 0.4em 0.4em 0; 
	text-align: center;
	height: 50px; 
}	
	
#group li label { 
	cursor: move;
}

#usersinGroup label, #users label { 
	font: 80% "Trebuchet MS", sans-serif; 
	color: #F9F7ED;
	text-align: left; 
	float: left;
}

#hostsinGroup label, #hosts label { 
	font: 80% "Trebuchet MS", sans-serif; 
	color: #36393D;
	text-align: left; 
	float: left;
}

#hostsinGroup ul{
	left: 0;
	margin:0;
	padding: 0;
  
}

#hostsinGroup ul li{
  	left: 0;
	margin:0;
	padding: 0;
  
}

/* Farms :*/

#farmContent {
	padding: 0;
	float: left; 
	width: 56%;
	min-height: 100px;
	height:100%;
	border: 1px solid silver !important;
	position: relative;
	background-color: #eeeeee !important;
	left: 2px;
} * html #farmContent { height: 18em; } /* IE6 */

#farmContent h4 { 
	line-height: 16px; 
	margin: 0 0 0.4em; 
}

#farmContent li h5 { 
	margin: 0 0 0.4em; 
	cursor: move; 
}
	
#farmContent li{ 
	float: left; 
	width: 128px; 
	padding: 0.4em; 
	margin: 0 0.4em 0.4em 0; 
	text-align: center; 
	height: 50px; 
}	
	
#farmContent li label { 
	cursor: move; 
}

/*Admin Farms and Groups*/

.hostGroup #info_area{
	position: relative;
	width: 100%;
	height: 40px;
	float: left;
}
.farm{
	position: relative;
	width: 90%;
	float: left;
	padding: 0;
	
}
.farm > #header_area, .hostGroup > #header_area{
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}

.farm > #header_area > h1, .hostGroup > #header_area > h1{
	position: relative;
	left: 35%;
	width: 30%;
	height: auto;
	text-align: center;
}

.farm > #buttons_area {
	position: relative;
	float: left;
	width: 20%;
	height: auto;
	left: 40%;
}

.hostGroup > #info_area > span#info{
      position: relative;
      float: left;
      top: 25%;
      left: 1%;
      text-decoration: underline;
      
}
.hostGroup > #info_area > #button_area {
	position: relative;
	float: left;
	left: 25%;
	width: 10%;
	height: 20px;
}
.hostGroup > #info_area > #button_area button{
	position: relative;
	width: auto;
	height: auto;
}
.farm > #buttons_area > button{
	position: relative;
	left: 20%;
}

.hostGroup > ul{
	float: left;
	height: auto;
	position: relative;
	width: 25%;
}
.hostGroup #groupContent, .hostsinGroup {
	min-height: 100%;
	position: relative;
	width: 45%;
	float: left;
	left: 0%;
	height: auto;
	padding: 0;
}

.hosts{
 
    background: #111;
    background: -moz-linear-gradient(#fbfbfb, #e5e5e5);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fbfbfb),color-stop(1, #e5e5e5));
    background: -webkit-linear-gradient(#fbfbfb, #e5e5e5);
    background: -o-linear-gradient(#fbfbfb, #e5e5e5);
    background: -ms-linear-gradient(#fbfbfb, #e5e5e5);
    background: linear-gradient(#fbfbfb, #e5e5e5);
    -moz-border-radius: 50px;
    border-radius: 10px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
  
}

.users{
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

* ul {
  list-style-type: none !important;
  
}

#spacer {
	clear:both;
}

/* scheduling style : */ 

.schedLabel {
	min-width: 10%;
	text-align: center;
	vertical-align: middle;
	color: #993300;
}
#dowallcustom, #onoff, #domallcustom, #monthsallcustom  {
	min-width: 100%;
}

#dow, #dom, #months {
	position: relative;
	left: 10px;
}

#dom { 
	 font: 80% "Trebuchet MS", sans-serif;
}

.schedSelect {
	position: relative;
	left: 10px;
	float: left;
	text-align: right;
}


/* Groups permissions management : */

#userGroupsPerms {

	float: left;
	width: 48%;
}

#hostGroupsPerms {
	float: right;
	width: 48%;
}

.userGroupPerm, .hostGroupPerm {
	font: 80% "Trebuchet MS", sans-serif;
	width:100%;
	height:130px;
}

/**/
.sliderperm {
	margin-top: 10px;
	width: 75%;	
	float: left;
}

#bigLabel {
	font: 140% "Trebuchet MS", sans-serif;
}

#changeUserGroupLevelPerm, #changeHostGroupLevelPerm {
	margin-top: 3px;
	width: 20%;
	float: right;
}

.havePermH, .donthavePermH, .havePermU, .donthavePermU {
	font-weight: bold;
	position: relative;
	left: 10px;
}

.donthavePermH, .donthavePermU {
	font-weight: bold;
	color: green;
	
}

/************************/
/************************/
/*** LDAP Settings ******/
/*** Stats Settings *****/
/*** View Mail Content***/
/*** Change Password ****/
/************************/
/************************/


#generalWrapper, #manageWrapper, #manageGroupsWrapper, #schedWrapper{
	border-top: 1px solid silver;
	float: left;
	width: 1000px;
	height: auto;
	top: 50px;
	position: relative;

}

#wrapper{
  
  	position: relative;
	float: left;
	width: auto;
	height: 100%;
  
}
#draggablesWrapper{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
  
}

#manageWrapper{

	width: 50% !important;
	left: 5% !important;
	
}

#manageGroupsWrapper{
	left: 10% !important;
	width: 80% !important;
	
}
#schedWrapper{
	width: 45% !important;
	left: 1%;
}
#manageGroupsWrapper .userGroup > #group, #manageGroupsWrapper > .userGroup > #not-in-group{
  
	border: 1px solid silver !important;
	width: 47% !important;
	height: auto !important;
	position: relative;
	float: left;
	  
}

.header_bg {
	text-decoration: none;
    background: -moz-linear-gradient(#fbfbfb, #e5e5e5);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fbfbfb),color-stop(1, #e5e5e5));
    background: -webkit-linear-gradient(#fbfbfb, #e5e5e5);
    background: -o-linear-gradient(#fbfbfb, #e5e5e5);
    background: -ms-linear-gradient(#fbfbfb, #e5e5e5);
    background: linear-gradient(#fbfbfb, #e5e5e5);
    -moz-border-radius: 50px;
    border-radius: 10px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
	text-align: center;
	color: #8CC63E !important;
	/*-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;*/
    text-decoration: none;
	color: #eeeeee;
}

.header_bg2{
      background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #eeeeee;
    width: auto;
    position: relative;
}
#generalWrapper h1{
	position: relative;
	text-align: center;
	
	font-size: 20px;
}

#ldapButtons{
	float: left;
	position: relative;
	left: 15%;
	
	width: 70%;
	height: 30px;
	top: 15%;
}

#ldapButtons > #importFromLdap{
	position: relative;
	float: left;
	left: 35%;
	font-size: 30px;
}

#ldapButtons button{
  
  width: auto;
  height: auto;
  left: 2%;
  top: 25%;
  position: relative;
  float: left;
}
#ldapConfig {
	border: 1px solid silver;
	float: left;
	left: 22%;
	position: relative;
	width: auto;
	padding: 5px;
	height: auto;
}

#ldapConfig h2{
 	position: relative;
	text-align: center;
	left: 3%;
	height: auto;
	font-size: 15px;
}
#useLdap{
	float: left;
	width: 400px;
	height:50px;
	position: relative;
	left: 15%;
}

#useOrNotArea{
	position: relative;
	left: 35%;
	float: left;
	width: 130px;
}

#useOrNot label{
	max-width: 50px;
	max-height: 20px;
}


#useLdap label{
	height: 20px;
	line-height: 20px;
	text-align: center;
	position: relative;
	float: left;
	width: 100%;
}


#statsConfig {
  	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}
#header {
	position: relative;
	float: left;
	width: 100%;
	height: 40px;
	color: #eeeeee;
	/**/
	
    background: #111;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 50px;
    border-radius: 10px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
}
#main_area, #mail_main_area{
  	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}

#texts_area{
	top: 20px;
  	position: relative;
	float: left;
  	width: 69%;
	height: auto;
}

#texts_area > label{
  	text-align: left;
}

#main_area .separator{
	position: relative;
	float: left;
	width: 40%;
	height: 10px;
}
#inputs_area{
	top: 20px;
  	position: relative;
	float: left;
	right: 1%;
	width: 30%;
}

#buttons_area{
	width: 100%;
	position: relative;
	top: 30px;
	float: left;
}

#buttons_bar{
	position: relative;
	width: 30%;
	left: 39%;
}


#viewMailContent{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
}

#mail_label_area{
	position: relative;
	float: left;
	width:50%;
	height: auto;
}
#mail_main_area label{
	text-align: left;
	position: relative;
	float: left;
	width: 100%;
}

#mail_select_area{
	position: relative;
	float: left;
	width: 45%;
	height: auto;
}

* select{
	position: relative;
	width: 20%;
	float: right;
	height: auto;
	background-color: white;
}
#mail_main_area .separator{
	position: relative;
	float: left;
	width: 10%;
	height: 10px;
}

#mail_buttons_area{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
}

#mail_buttons_area > button{
	position: relative;
	float: left;
	left: 45%;
}

* select option{
  color: #eeeeee;
}

#formaddusergroup, #formaddfarm, #formaddhostuser{
	width: 50%;
}

#hostsDiscover{
	position: relative;
	left: 41%;
  
}

#formadduser, #formaddhost{
  	width: 100% !important;
	position: relative;
	float: left;
  
}
#formaddhost h3{
  
	border-bottom: 1px solid silver;
  
}

#change_password_area {
	width: 100%;
	position: relative;
	float: left;
	top: 20%;
	text-align: center;	
}

#change_label_area{
	position: relative;
	float: left;
	width: 50%;
	height: auto;
}

#change_label_area label{
	position: relative;
	float: left;
	text-align: left;
	width: 80%;
}

#change_input_area{
	position: relative;
	float: left;
	width: 50%;
	height: auto;
}

#change_input_area input[type=password]{
	position: relative;
	float: right;
	text-align: left;
	width: 80%;
}

#change_button_area{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	padding-top: 2%;
}

#change_button_area button, #change_button_area input[type=submit]{
 
	position: relative;
	float: left;
}

#chooseStatsType{
	position: relative;
	float: left;
	left: 40%;	
	height: 50px;
	width: 100%;
}

#viewArea{
	position: relative;
	float: left;
	width: 50%;
	height: auto;
	left: 2%;
}
#viewArea button{
	position: relative;
	float: left;

}
#ifCustomHost{
	width: 30%;
	height: auto;
	position: relative;
	float: left;
}

#ifCustomHost #allHosts{
	position: relative;
	height: auto;
	width: 100%;
	float: left;
}

#statsDiv{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	top: 30px;
	left: 2%;
}

#statscustomhost{
	position: relative;
	float: left;
	width: auto;
	height: auto;
	left: 25%;
	border: 1px solid silver;
}

/*Logs*/
#log_selects select{
  width: 50%;
  height: auto;
  position: relative;
  float: left;
  
}
#scheduledTasks{
	position: relative;
	float: left;
	width: 100%;
}
#scheduledTasks table{
	position: relative;
	width: 100%; 
}
#scheduleNewTasks label{
	position: relative;
	float: left;
	width: 100px;
	height: 30px;
}
#dom, #dow, #months{
	position: relative;
	float: left;
	width: 100%;
}

#scheduleNewTasks{
      position: relative;
      float: left;
      width: 83%;
      height: auto; 
      padding-left: 1%;
      top: 75px;
}
#scheduleNewTasks label{
    
      color: black !important;
  
}

#scheduleNewTasks select{
      position: relative;
      float: left;
      width: 40%;
      height: auto;
}
/*----------------------*/
#addInvitation {
	max-width: 500px;	
}

#wait {
	z-index: 20000;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
}

.toClear {
	clear: both;
	display: block;
}
